# Database Configuration
DATABASE_URL="postgres://postgres:531269@localhost:5432/smasara_db"

# JWT Secret (Ganti dengan string rahasia yang kuat untuk production)
JWT_SECRET="smasara_super_secret_jwt_key_development_only_12345"
